@mixin font-size($sizeValue: 1.6) {
    /** Better Font-size
        this mixin relies on the html font-size to be 10px
        
        it takes the font value desired,
        and returns the font-size declarations in rems and px

        @include font-size(15)
        => font-size: 15px;
        => font-size: 1.5rem;
    */
    font-size: $sizeValue + px;
    font-size: ($sizeValue / 10) + rem;
}